.sidebar {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
    display: inline-block;
}

.datum {
    padding: 2px;
}

.sidebar-button {
    margin-top: 1em;
    width: 8em;
    height: 3em;
    font-size: 18px;
}

.mode-container {
    position: absolute;
    bottom: 2em;
    display: table;
    width: 20rem;
    table-layout: fixed;
}

.mode-element {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

input {
    font-size: 1em;
    width: 30%;
}

#mode-left {
    padding-left: 40px;
}

#mode-right {
    padding-right: 40px;
}

.data {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    width: 80%;
}

.fields-div {
    margin-top: 2em;
    text-align: left;
}

#bottom-flight-info {
    position: absolute;
    bottom: 6em;
}

#bottom-flight-info-value {
    text-align: center
}

.field-div {
    overflow: hidden;
}

.field-p {
    float: left;
}

.field-value {
    width: 6.5em;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
}

.field-input {
    width: 6.5em;
    float: right;
}

.field-name {
    float: left;
    width: 11.5em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.title {
    margin-top: 2em;
    text-align: center;
    height: 1em;
}