.container {
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	height: 100vh;
}

aside {
	width: 300px;
	height: 100%;
	transition: width 0.2s ease;
}

aside.collapsed {
	 width: 0px;
}

.map {
	flex: 1 1 auto;
}

.pin-object {
  position: relative;
}

.sensor-dot {
  height: 80px;
  width: 80px;
  background-color: #484848;
  border-radius: 50%;
  position: absolute;
  float: left;
  left: -40px;
  top: -50px;
  opacity: 0.18;
}

.takeoff-dot {
  height: 80px;
  width: 80px;
  background-color: #484848;
  border-radius: 50%;
  position: absolute;
  float: left;
  left: -40px;
  top: -40px;
  opacity: 0.18;
}

#pin-label {
  padding: 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  float: left;
  position: absolute;
  bottom: -4px;
  left: 20px;
  white-space: nowrap;
}

.data {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
  width: 80%;
}

#title {
  margin-top: 2em;
  margin-bottom: 0;
}

#coords-box {
  position: absolute;
  height: 1rem;
  width: 30rem;
  top: 0;
  left: 0;
  padding: 0.2rem 0.4rem;
  background-color: white;
  opacity: 0.8;
}

#coord {
  width: 15rem;
  margin: 0;
  float:left;
}

#search-box {
  position: absolute;
  height: 1rem;
  width: 20rem;
  top: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background-color: white;
  opacity: 0.8;
}

#search-input {
  margin: 0;
  float:left;
  height: 1rem;
  border: 0;
  padding: 0;
  width: 100%;
  font-family: monospace;
  background-color: white;
}

::placeholder {
  color: black;
}