.container {
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	height: 100vh;
}

aside {
	width: 300px;
	height: 100%;
	transition: width 0.2s ease;
}

aside.collapsed {
	 width: 0px;
}

.map {
	flex: 1 1 auto;
}

.sensor-data {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
}

.pin-object {
  position: relative;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: #484848;
  border-radius: 50%;
  position: absolute;
  float: left;
  left: -40px;
  top: -50px;
  opacity: 0.18;
}

#pin-label {
  padding: 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  float: left;
  position: absolute;
  bottom: -4px;
  left: 20px;
  white-space: nowrap;
}

.data {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
  width: 80%;
}

#title {
  margin-top: 2em;
  margin-bottom: 0;
}

.datum {
  padding: 2px;
}

.sidebar-button {
  margin-top: 1em;
  width: 8em;
  height: 3em;
  font-size: 18px;
}